* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.fight-background-img {
  object-fit: cover;
  width: 100%;
  height: 100vh; /* Make sure the image fully covers the viewport height */
  overflow: hidden;
  image-rendering: auto;
}

.top-text {
  display: flex;
  color: #ffffff;
  flex-direction: column;
  align-items: center;
  font-size: calc(1rem + 1dvw + 1dvh);
  background: linear-gradient(
    rgb(110, 80, 0),
    hwb(0 0% 100%),
    rgb(110, 80, 0)
  );
  padding: 1rem;
  border: none;
  font-family: 'Press Start 2P';
  border-bottom: solid 1px #985b00;
  text-transform: capitalize;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}



p{
  display:flex;
  font-family: 'Press Start 2P';
  flex-direction: row-reverse;
  font-size: calc(1rem + 0.4dvw + 0.4dvh);;
  align-items: center;
  flex-direction: row;
  gap: 1rem;

}



.pokemon-name::first-letter{
  text-transform: uppercase;
}

.your-pokemon-stats-div{
  position: absolute;
  display:flex;
  align-items: center;
  font-size: 3rem;
  right: 0%;
  top: 60%;
  color:hsl(174, 99%, 54%);
  width:50%;
  padding: 1rem;
  border: solid 0.2rem hsl(0, 0%, 0%);
  border-right: none;
  background: linear-gradient(
      hwb(0 19% 80%), 
      #000000ba,
      hwb(0 19% 80%)
      );
}


.enemy-pokemon-stats{
  position: absolute;
  display:flex;
  align-items: center;
  color:hwb(0 0% 0%);
  font-size: 3rem;
  left: 0%;
  top: 8%;
  width:50%;
  padding: 1rem;
  border: solid 0.2rem hsl(0, 0%, 0%);
  border-left: none;
  background: linear-gradient(
    hwb(0 19% 80%), 
    #000000ba,
      hwb(0 19% 80%)
      );
}





.your-pokemon-div{
  position:absolute;
  left: 10%;
  top: 20%;
}

.your-pokemon-img{
  image-rendering: pixelated;
  width: calc(25vw + 25vh); 
  height: auto; 
}



.enemy-pokemon-div {
  position: absolute;
  right: 24%;
  top: 20%;
}



.enemy-pokemon-img {
  image-rendering: pixelated;
  width: calc(15vw + 15vh);
  height: auto; 
}





